html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

.border {
	border: 1px solid #4D4B72;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}