 // Chartist plugin: tooltips

$chart-tooltip-bg: #F4C63D;
$chart-tooltip-color: #453D3F;
.chartist-tooltip {
  position: absolute;
  display: inline-block;
  opacity: 0;
  min-width: 5em;
  padding: .5em;
  background: $chart-tooltip-bg;
  color: $chart-tooltip-color;
  font-family: Oxygen,Helvetica,Arial,sans-serif;
  font-weight: 700;
  text-align: center;
  pointer-events: none;
  z-index: 1;
  -webkit-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
  &:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top-color: $chart-tooltip-bg;
  }
  &.tooltip-show {
    opacity: 1;
  }
}

.ct-area, .ct-line {
  pointer-events: none;
}

// ------------------------------- Tooltip plugin

.ct-series-a .ct-line {
	stroke: $primary-color;
	stroke-width: 0.3vw;
}

.ct-series-a .ct-area {
	fill: $primary-color;
}

.ct-series-a .ct-point {
	stroke: $primary-color;
	stroke-width: 1.25vw;
}

.ct-series-a .ct-bar,
.ct-series-b .ct-bar {	
  stroke-width: 10px;
}

.ct-series-a .ct-bar {
  stroke: $primary-color;
}

.ct-series-b .ct-bar {
  stroke: $highlight-color;
}


.ct-series-a .ct-slice-donut {
	stroke: $primary-color;
}

.ct-series-b .ct-slice-donut {
	stroke: $highlight-color;
}

.ct-series-c .ct-slice-donut {
	stroke: #74B1BF;
}