#social-stats {
  display: flex;
  min-width: 100%;
  flex-wrap: wrap;

  h2 {

    width: 100%;
  }

}

.social-block {
  border: 1px solid #7377BF;
  border-radius: 10px;
  align-content: center;
  padding: 1vw;
  flex-grow: 1;

  #twitter-logo {
    background-image: url(../img/icon-twitter.svg);
  }

  #facebook-logo {
    background-image: url(../img/icon-facebook.svg);
    background-size: 15px;
  }

  #google-plus-logo {
    background-image: url(../img/icon-google-plus.svg);
    background-size: 30px;
  }

}

.brand-logo {
  //width: 50px;
  background-color: #7377BF;
  padding: 15px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35px;
}

.social-stats {
  padding-left: 1em;
  flex-grow: 1;
  font-family: 'Open Sans', Arial, sans-serif;
  
  h3, div {
    padding: 0;
    margin: 0;
  }

  h3 {
    font-weight: 400;
    color: $primary-color;
  }
  
  div {
    font-size: 3em;
  }
}